{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <title>The MixMaster | About</title>
    <script src="{% static 'js/script.js' %}" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <link rel="icon" href="../static/img/favicon.png" type="image/png" >
</head>

<body>

	<div id="main" class="content">
        <a class="backLink" href="..">&larr;</a>		
        <h1 class="fadeIn delay-1">About the MixMaster</h1>
        <div class="left">

            <h2 class="fadeIn delay-2">What is the MixMaster?</h2>
            <p class="fadeIn delay-2">
            The MixMaster<sup>*</sup> helps you to create new concepts, sentences and ideas, 
            randomly combining previously defined parts. It might be useful for brainstorming 
            sessions, inspiration processes, cocreation workshops or just to have fun.
            </p>

            <h2 class="fadeIn delay-2">How it started?</h2>
            <p class="fadeIn delay-3">
            It started as an excuse to learn how to build a full website from scratch, 
            including design, front and back end programming. <a href="https://github.com/damagedgoods/combinator/">The source code is available.</a> If 
            you find any bug or have a great idea to make ir better, feel free to 
            <a href="https://github.com/damagedgoods/combinator/issues">add them as a Github Issue</a>.
            </p>
                
            <p class="fadeIn delay-4">Thanks for using it!</p>

            <p class="footnote fadeIn delay-4"><sup>*</sup> Yes, 'MixMaster' is inspired on <a href="https://www.youtube.com/watch?v=f5ZWawL3z54">the 
            legendary DJ</a>. I don’t know much about him, but his name is cool.</p>
                
        </div>
        <div class="right">
            <ul>
                <li class="fadeIn delay-1"><a href="">Avanti Tutti &rarr;</a></li>
                <li class="fadeIn delay-2"><a href="mailto:juandiego.cano@gmail.com">Contact &rarr;</a></li>
                <li class="fadeIn delay-3"><a href="https://github.com/damagedgoods/combinator">Github &rarr;</a></li>
            </ul>

        </div>

	</div>

</body>
</html>