{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <title>{{ collection_name }} | The MixMaster</title>
    <script src="{% static 'js/script.js' %}" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link rel="icon" href="../static/img/favicon.png" type="image/png" >
</head>

<body>

	<div id="message"></div>
	
	<p id="successMessage">Ok, I created your mix.<br/>Wanna check it?</p>	

	<div id="helpSentence" class="helpMarks">
		<span class="spot"></span>
		<span class="helpMessage right">Generated randonly with the values of the set.</span>
	</div>
	
	<div id="helpReload" class="helpMarks">
		<span class="spot"></span>
		<span class="helpMessage right">Generates a new sentence.</span>
	</div>
	
	<div id="helpEdit" class="helpMarks">
		<span class="spot"></span>
		<span class="helpMessage left">Edits the possible values of the set.</span>
	</div>

	<div id="main">
		<div id="sentence"></div>
	</div>

	<div id="footer"><span>Powered by <a href="/combine/">the MixMaster</a></span><span><a href="javascript:showHelpMarks(['helpSentence','helpReload'{% if edit %}, 'helpEdit'{% endif %}], 0)" id="edit">Help</a></span>{% if edit %}<span><a href="./edit" id="edit"">Edit this set</a>{% endif %}</span></div>

	<button id="reload" class="reload" onclick="javascript:run()">&rarr;</button>

</body>
</html>

<script>
load({{ id }}, '{{ new }}', ['helpSentence','helpReload'{% if edit %}, 'helpEdit'{% endif %}]);
</script>