{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <title>Scenomatic</title>
    <script src="{% static 'js/script.js' %}" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>

<body>

	<div id="main">
        <a href="./">&larr; Back</a>
        
        {% for i in items %}
        <ul class="edit_items">
            {% for it in i %}
				<li>{{ it.value }}<a href="#" id={{it.id}} onclick="deleteItem(this)" class="deleteAction"><i class="deleteIcon"></i></a></li>
			{% endfor %}
        </ul>
        {% endfor %}
	</div>

</body>
</html>