{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <title>Scenomatic</title>
    <script src="{% static 'js/script.js' %}" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>

<body>

	<div id="main">
        <a class="backLink" href="./">&larr;</a>
        <h1 class="fadeIn">Add items to your set, <br/>or delete them.</h1>

        {% for p in data %}
        <div class="edit_items">
            <ul class="fadeIn delay-{{ forloop.counter }}">
                <li class="partNumber"> {{ forloop.counter }}</li>
                {% for it in p.items %}
				<li><span><abbr title="{{ it.value }}">{{ it.value }}</abbr></span><a id={{it.id}} onclick="deleteItem(this)" class="deleteAction" alt="BLAH"><i class="deleteIcon"></i></a></li>
			    {% endfor %}
            </ul>
            <div class="newItemField">
                <a class="addItem bigLink" onclick="addItem(this)">+</a>
                <input type="text" class= "newItem" id="{{ p.partId }}" onkeyup="checksubmit(event)" onfocusout="cancelsubmit()"/>
            </div>
        </div>
        {% endfor %}
	</div>

</body>
</html>