{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <title>Scenomatic</title>
    <script src="{% static 'js/script.js' %}" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>

<body>

	<div id="main" class="howto">
        <a class="backLink" href="..">&larr;</a>		
        <h1 class="fadeIn delay-1">What, why, & how</h1>
        <div class="left">

            <h2 class="fadeIn delay-2">What?</h2>
            <p class="fadeIn delay-2">Honestly, this is just something I did to learn how to code.</p>

            <h2 class="fadeIn delay-3">Why?</h2>
            <p class="fadeIn delay-3">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac 
                turpis egestas. Sed tellus tortor, tempor id ultrices at, faucibus nec nulla. 
                Maecenas vitae diam sed magna molestie accumsan id id augue. Nam vel ante quis 
                elit tincidunt sollicitudin ac eu libero.</p>
        
            <h2 class="fadeIn delay-4">How?</h2>
            <p class="fadeIn delay-4">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac 
                turpis egestas. Sed tellus tortor, tempor id ultrices at, faucibus nec nulla. 
                Maecenas vitae diam sed magna molestie accumsan id id augue. Nam vel ante quis 
                elit tincidunt sollicitudin ac eu libero.</p>
        </div>
        <div class="right">
            <ul>
                <li class="fadeIn delay-1"><a href="">Avanti Tutti &rarr;</a></li>
                <li class="fadeIn delay-2"><a href="mailto:juandiego.cano@gmail.com">Contact &rarr;</a></li>
                <li class="fadeIn delay-3"><a href="https://github.com/damagedgoods/combinator">Github &rarr;</a></li>
            </ul>

            

        </div>

	</div>

</body>
</html>