{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <title>The MixMaster | How to</title>
    <script src="{% static 'js/script.js' %}" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <link rel="icon" href="../static/img/favicon.png" type="image/png" >
</head>

<body>

	<div id="main" class="content">
        <a class="backLink" href="javascript:history.back()">&larr;</a>		
        <h1 class="fadeIn delay-1">How to</h1>
        <div class="left">

            <h2 class="fadeIn delay-2">Preparing your CSV file</h2>
            <p class="fadeIn delay-2">It's super simple. You just need to create a spreadsheet 
            (Excel, Numbers, Google Sheets or whatever) and add a column of values for each
            part.</p>
            <p class="fadeIn delay-2">For example, if you want a Cluedo generator, you will need to create a column
            for the person, another for the place and another for the weapon. Just populate
            each column with values.</p>
            <p class="fadeIn delay-2">Once all your data is ready, make sure you export it as CSV. <b>This part is important!</b></p>
            <p class="fadeIn delay-2">You can also <a href="../../static/cluedo.csv">download a CSV sample file</a> and just change the values.</p>            

            <a href="../collection/new" class="fadeIn delay-3 bigLink">Now try it yourself &rarr;</a>
        </div>
        <img id="csv-image" src="../../static/img/csv.png"/>
	</div>

</body>
</html>