{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <title>Scenomatic</title>
    <script src="{% static 'js/script.js' %}" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>

<body>

	<div id="main" class="howto">

        <a class="backLink" href="..">&larr;</a>		

        <h1 class="title fadeIn delay-1">About MixMaster</h1>
        <h2 class="title-2 fadeIn delay-2">Why?</h2>
        <p class="fadeIn delay-2">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac 
            turpis egestas. Sed tellus tortor, tempor id ultrices at, faucibus nec nulla. 
            Maecenas vitae diam sed magna molestie accumsan id id augue. Nam vel ante quis 
            elit tincidunt sollicitudin ac eu libero.</p>

        <h2 class="title fadeIn delay-3">How does it work</h2>
        <p class="fadeIn delay-3">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac 
            turpis egestas. Sed tellus tortor, tempor id ultrices at, faucibus nec nulla. 
            Maecenas vitae diam sed magna molestie accumsan id id augue. Nam vel ante quis 
            elit tincidunt sollicitudin ac eu libero.</p>
        
        <p class="fadeIn delay-4">Cras imperdiet, est vitae molestie 
            venenatis, sem tortor fringilla tortor, condimentum aliquet dolor lacus non 
            magna. Mauris luctus pellentesque purus in facilisis. Nunc justo turpis, 
            gravida nec metus sed, posuere efficitur lectus. Cras aliquam urna porta tellus 
            molestie, sed eleifend nunc cursus.
        </p>
	</div>

</body>
</html>