{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <title>The MixMaster</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
	<link rel="icon" href="../static/img/favicon.ico" type="image/ico" >
</head>

<body>

	<div id="main">
		<div id="left">
			<p class="fadeIn delay-1">Hello there.<br/>I'm <span class="intensify">the MixMaster</span>.</p>
			<p class="fadeIn delay-2">I remix existing concepts to build new ideas.</p>
			<p id="cta" class="fadeIn delay-3">
				<img id="glow" src="../static/img/glow.png"/>
				<a href="./collection/new">Try me! &rarr;</a>
			</p>			
			
		</div>
		<div id="right">
			<p id="checkDemos" class="fadeIn delay-4">Check my demos</p>
			<ul id="collections_list">
				{% for c in collections %}
					<li><a href="./collection/{{ c.slug }}">{{ c.name }} &rarr;</a></li>
				{% endfor %}	
				<li></li>
			</ul>
		</div>		
		<p id="footer"><span>An experiment by <a href="#">AvantiTutti</a></span><span><a href="./about/">About MixMaster</a></span></p>
	</div>

</body>
</html>