{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The MixMaster</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
	<link rel="icon" href="../static/img/favicon.ico" type="image/ico" >

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

	<style>
		@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
		@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap&text=↑→↓←");
	</style>

</head>

<body>

	<div id="main">
		<div id="left">
			<p class="fadeIn delay-1">Hello there.<br/>I'm <span class="intensify">the MixMaster</span>.</p>
			<p class="fadeIn delay-2">I remix existing concepts to build new ideas.</p>
			<p id="cta" class="fadeIn delay-3">
				<img id="glow" src="../static/img/glow.png"/>
				<a href="./collection/new">Try me! &rarr;</a>
			</p>
		</div>
		<div id="right">
			<p id="checkDemos" class="fadeIn delay-1">Check my demos</p>
			<ul id="collections_list">
				{% for c in collections %}
					<li><a href="./collection/{{ c.slug }}">{{ c.name }} &rarr;</a></li>
				{% endfor %}
			</ul>
		</div>
		<div id="footer" class="fadeIn delay-4">
			<span>An experiment by <a href="#">AvantiTutti</a></span>
			<span><a href="./about/">About the MixMaster</a></span>
		</div>	
	</div>

</body>
</html>