{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <title>Scenomatic</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>

<body>

	<div id="main">
		Collections
		<ul id="collections">
			{% for c in collections %}
				<li><a href="./collection/{{ c.id }}">{{ c.name }}</a></li>
			{% endfor %}
		</ul>
	</div>	

</body>
</html>

<script>load({{ id }});</script>