{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <title>Scenomatic</title>
    <script src="{% static 'js/script.js' %}" charset="utf-8"></script>	
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>

<body>
	<div id="main">
		<a class="bigLink" href="../..">&larr;</a>		

		<p class="title">Ok, let's create a new MixMaster set.</p>

		<form id="newCollectionForm" class="new" action="../create/" method="post" enctype="multipart/form-data">
			{% csrf_token %}

			<div class="fieldContainer">
				<label class="tooltip">
					<span class="fieldName">Name</span><span class="tooltiptext">It will be used for your mix URL</span><span id="nameError" class="error"></span>
				</label>
				<input type="text" id="name" name="name"  value="{{ name }}"/>			
			</div>

			<div class="fieldContainer">
				<input type="file" id="fileInput" name="fileInput" class="file-input" onchange="updateFileName()">
				<label for="file" class="tooltip">
					<span class="fieldName">CSV file</span><span class="tooltiptext">CSV file containing all your concepts. <a>Learn more</a></span><span id="fileError" class="error">{{ fileError }}</span>
				</label>
				<a class="upload-button" id="upload-button" onclick="document.getElementById('fileInput').click()">No File</a>
			</div>

			<input type="submit" value="Submit &rarr;"></input>

		</form>

		<script>
			document.getElementById('newCollectionForm').addEventListener('submit', submitNewCollection);
			document.getElementById('name').addEventListener('input', validateName);
			document.getElementById('fileInput').addEventListener('input', validateFile);
		</script>		

	</div>

</body>
</html>