{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <title>Scenomatic</title>
    <script src="{% static 'js/script.js' %}" charset="utf-8"></script>	
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>

<body>
	<div id="main">
		<a class="bigLink" href="../..">&larr;</a>		

		<p class="title">Ok, let's create a new MixMaster set.</p>

		<form id="newCollectionForm" class="new" action="../create/" method="post" enctype="multipart/form-data">
			{% csrf_token %}

			<label>Select a set name <span id="nameError" class="error"></span></label>
			<span class="explanation">How would you call this random generator?</span>
			<input type="text" id="name" name="name"/>
			

			<label>Choose a password, if you want</label>
			<span class="explanation">Just in case you want to be the only person to edit it in the future</span>
			<input type="password" id="password" name="password"/>

			<label for="file">Upload your CSV file with all possible values <span id="csvError" class="error"></span></label>
			<span class="explanation">Drag & drop an excel or CSV file with your values. We will create a category for each column</span>
			<input type="file" id="csv" name="csv"/>

			<input type="submit" value="&rarr;"></input>
		</form>

		<script>
			document.getElementById('newCollectionForm').addEventListener('submit', submitNewCollection);
			document.getElementById('name').addEventListener('input', validateName);
			document.getElementById('csv').addEventListener('input', validateFile);

		</script>		

	</div>

</body>
</html>