* {
	margin: 0;
	padding: 0;	
	font-family: "Inter", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;	    
    
}

ul li {
    list-style-type: none
}

::selection {
    color: white;
    background: orange;
}

body {
	background-color: rgb(248, 246, 244);
	transition: background-color 0.1s ease; /* Animación de transición para el cambio de color */	
}

#header {
	display: block;
	height: 80px;
}

#main {	
    margin: 64px;
	text-align: left;
	padding: 0;
    width: 90%;
}

#main #left {
    width: 45%;
    float: left;
    font-size: 64px;
    font-weight: 800;
    line-height: 80px;
    text-overflow: ellipsis;
    position: fixed;
    height: 100%
}

#main #left p {
    font-size: 48px;
    font-weight: 400;
    line-height: 64px;
    margin: 0 0 64px 0;
}

#main #left p a {
    font-size: 48px;
    font-weight: 400;
    line-height: 64px;
    text-decoration: none;
}

#main #right{
    width: 30%;
    float: right;
}

#main #right ul li a {
    font-size: 48px;
    font-weight: 800;
    line-height: 64px;
    text-decoration: none;
}

#footer {
    position: absolute;
    bottom: 64px;
    right: 64px;
}

div.small {
    font-size: 18px;
    line-height: 80px;
}

div.edit_items {
    display: block;
    width: 33%;
    float: left;
}

ul.edit_items {
}

div.edit_items ul li{
    display: inline-block;
    width: 80%;
    border-radius: 10px;
    padding: 10px;    
    vertical-align: middle;
    display : flex;
    align-items : center;
}

div.edit_items ul li:hover{
    background-color: orange;
    color: white;
    transition-duration: 0.3s;
    transition-property: background-color, color;
    transition-timing-function: ease-in-out;
    cursor: pointer;
}

div.edit_items ul li.partNumber {
    font-size: 80px;
    font-weight: 300;   
    margin: 0 0 32px 0;
}

div.edit_items ul li.partNumber:hover{
    background-color: transparent;
    color: black;
    cursor:default;
}

div.edit_items ul li span{
    width: 90%;
    font-size: 28px;   
    font-weight: 600;
    white-space: nowrap;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
}

div.edit_items ul li span abbr{
    font-weight: 600;
    text-decoration: none;
}

div.edit_items ul a.deleteAction {    
    float: right;
    color: #f8f6f4 !important;
    vertical-align: middle;
}

i.deleteIcon {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url('../img/ico_trash.svg');
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
    filter: brightness(0) saturate(100%) invert(99%) sepia(32%) saturate(492%) hue-rotate(293deg) brightness(104%) contrast(94%);
}

i.infoIcon {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url('../img/ico_info.svg');
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
    margin-bottom: 3px;
}

div.newItemField {
    padding: 0 0 0 10px;
}

a.addItem {
    font-size: 28px;
    font-weight: 600;
    line-height: 38px;
    cursor: pointer; 
}

input[type=text].newItem {
    display: none;
    margin: 0;
    width: 90%;
    font-size: 28px;
    line-height: 48px;
    font-weight: 600;
    border-bottom: 3px solid orange;
    background-color: transparent;
}

a {
	font-size: 16px;
	color: #111;
	display: inline-block;	
    transition: color 0.2s ease;
}

a:hover {
    color: orange;
    fill: orange;
}


ul {

}

ul#collections {
	margin: 0 0 0 32px;
    display: inline-block;
}

ul#items{
	margin: 32px 0 0 0;
}
ul#items li {
	display: block;
	font-size: 96px;
	font-weight: 700;
	color: #111;
    letter-spacing: -0.02em;	
}

ul#items li.item{
    transition-duration: 0.2s;
    transition-property: transform, opacity;
    transition-timing-function: ease-in-out;
}

ul#collections li {
	display: inline-block;
	padding: 0 32px 0 0;
	font-size: 16px;
    opacity: 0;
    transition: opacity 0.2s ease;
    transition-delay: calc(var(--n)*0.1s);
}

button.reload {
	position: absolute;
	left: 64px;
	bottom: 64px;
	background-color: black;
    color: white; /* Color del texto */
    border: none; /* Para eliminar los bordes predeterminados */
    border-radius: 60px; /* Bordes redondeados */
    padding: 10px; /* Ajuste del espaciado interno */
    cursor: pointer; /* Cambiar el cursor al pasar por encima */	
	font-optical-sizing: auto;
	font-weight: 300;
	font-style: normal;
    text-align: center;
    font-size: 60px; /* Tamaño de la fuente */
    width: 120px;
    height: 120px;

    transition-duration: 0.1s;
    transition-property: background-color, transform, box-shadow;
    transition-timing-function: ease-in-out;
}

button.reload:hover {
    background-color: orange;
    box-shadow: 0 8px 16px rgba(0,0,0,0.5);
    transform: translateY(-5px);
}

button.reload:active {
    transform: translateY(5px);
    box-shadow: 0 0px 4px rgba(0,0,0,0.5);
}


form {
    margin: 0 0 0 0;
}

label {
    display: block;
    font-size: 18px;
    font-weight: 400;
    margin: 32px 0 0 0;
}

span.explanation {
    display: none;
    font-size: 16px;
    font-weight: 400px;
    margin: 8px 0 0 0;
}

input[type=text], input[type=password] {
    margin: 16px 0 0 0;
    border: none;
    border-bottom: 3px solid #111;
    font-size: 48px;
    font-weight: 400;
    background-color: transparent;
    width: 40%;
}

input[type=text]:focus, input[type=password]:focus{
    outline: none;
    border-bottom: 3px solid orange;
}

input[type=submit] {
    display: block;
    font-size: 48px;
    font-weight: 400;
    line-height: 64px;
    text-decoration: none;
    border: none;
    background: none;
    margin: 64px 0 0 0; 
    cursor: pointer;
}

input[type=submit]:hover {
    color: orange;
}

label {
    margin: 64px 0 0 0;
}

.error {
    display: inline-block;
    color: orange;
    padding: 0 0 0 5px;
}

a.bigLink {
    font-size: 64px;
    font-weight: 300;
    text-decoration: none;
    clear: both;
    display: block;
    margin: 32px 0;
    cursor: pointer; 
}

  
span.intensify {
    font-weight: 800;
}

#cta {
    position: relative;
}

#cta a {
    position: relative;
}

#glow {
    position: absolute;
    top: -60px;
    left: -30px;
    z-index: -1;
    width: 300px;
}

#main #left #avanti {
    font-size: 18px;
}

#main #left #avanti a {
    font-size: 18px;
    text-decoration: underline;
}

p.title {
    font-size: 48px;
    font-weight: 400;
    width: 60%;
}

.file-input {
    display: none;
  }
  
.upload-button {
    display: block;
    cursor: pointer;
    cursor: pointer;
    background-color: transparent;
    color: #111;
    margin: 16px 24px 0 0;
    font-size: 32px;
    text-decoration: none;
    border-bottom: 3px solid #111;
    width: 40%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
  
.upload-button:hover {
    color: orange;
    border-bottom: 3px solid orange;
}

.tooltip {
    position: relative;
    display: inline-block;
  }
  
.tooltip .tooltiptext {
    visibility: hidden;
    display: inline-block;
    background-color: black;
    color: #fff;
    padding: 10px;
    border-radius: 20px 20px 20px 0;
    text-wrap: nowrap;   
    position: absolute;
    z-index: 1;
    top: -40px;
    left: 50px;
    font-size: 14px;
}

.tooltip .fieldName {
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
    cursor: pointer;
}

.tooltip a {
    color: white;
    font-size: 14px;
    text-decoration: underline;
}

.fieldContainer input {
    display: block;
    font-size: 32px;
}
  
.fieldContainer input[type="file"] {
    display: none;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}