* {
	margin: 0;
	padding: 0;	
	font-family: "Inter", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;	    
}

body {
	background-color: #ffffff;
	transition: background-color 0.1s ease; /* Animación de transición para el cambio de color */	
}

#header {
	display: block;
	height: 80px;
}

#main {	
	position: absolute;
	top: 64px;	
	left: 64px;
	text-align: left;
	padding: 0;
}

a {
	font-size: 16px;
	text-decoration: none;
	color: #111;
	display: inline-block;	
}

#collection-selector{	
	display: inline-block;
}

ul {}
ul#collections {
	margin: 0 0 0 32px;
    display: inline-block;
}
ul#items{
	margin: 32px 0 0 0;
}

ul li.item{
    transition: opacity 0.2s ease;
    transition-delay: calc(var(--n)*0.1s);
}

ul li {
	display: block;
	font-size: 96px;
	font-weight: 700;
	color: #111;
    letter-spacing: -0.02em;
	
}
ul#collections li {
	display: inline-block;
	padding: 0 32px 0 0;
	font-size: 16px;
    opacity: 0;
    transition: opacity 0.2s ease;
    transition-delay: calc(var(--n)*0.1s);

}

button {
	position: absolute;
	left: 64px;
	bottom: 64px;
	background-color: black;
    color: white; /* Color del texto */
    border: none; /* Para eliminar los bordes predeterminados */
    border-radius: 60px; /* Bordes redondeados */
    padding: 10px; /* Ajuste del espaciado interno */
    cursor: pointer; /* Cambiar el cursor al pasar por encima */	
	font-optical-sizing: auto;
	font-weight: 300;
	font-style: normal;
    text-align: center;
    font-size: 60px; /* Tamaño de la fuente */
    width: 120px;
    height: 120px;

    transition-duration: 0.2s;
    transition-property: background-color, transform;
    transition-timing-function: ease-in-out;
}

button:hover {
    background-color: orange;
    transform: rotate(90deg);
}

button:active {
    transform: translateY(2px);
    transform: rotate(90deg);
}
