* {
	margin: 0;
	padding: 0;	
	font-family: "Inter", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;	    
}

::selection {
    color: white;
    background: orange;
}

body {
	background-color: #ffffff;
	transition: background-color 0.1s ease; /* Animación de transición para el cambio de color */	
}

#header {
	display: block;
	height: 80px;
}

#main {	
    margin: 64px;
	text-align: left;
	padding: 0;
    width: 100%;
}

a {
	font-size: 16px;
	text-decoration: none;
	color: #111;
	display: inline-block;	
    transition: color 0.2s ease;
}

a#share-action {
    position: absolute;
    right: 64px;
}

div#share-url {
    position: absolute;
    right: 140px;
    top: 64px;
    opacity: 0;
    transition: opacity 0.2s ease;
}

a:hover {
    color: orange;
}

#collection-selector{	
	display: inline-block;
}



ul {}
ul#collections {
	margin: 0 0 0 32px;
    display: inline-block;
}

ul#collections_list li{
    height: 80px;
}
ul#collections_list li a{
    font-size: 64px;
    font-weight: 800;
}

ul#items{
	margin: 32px 0 0 0;
}
ul li.item{
    transition: opacity 0.2s ease;
    transition-delay: calc(var(--n)*0.1s);
}
ul li {
	display: block;
	font-size: 96px;
	font-weight: 700;
	color: #111;
    letter-spacing: -0.02em;
	
}
ul#collections li {
	display: inline-block;
	padding: 0 32px 0 0;
	font-size: 16px;
    opacity: 0;
    transition: opacity 0.2s ease;
    transition-delay: calc(var(--n)*0.1s);
}

button {
	position: absolute;
	left: 64px;
	bottom: 64px;
	background-color: black;
    color: white; /* Color del texto */
    border: none; /* Para eliminar los bordes predeterminados */
    border-radius: 60px; /* Bordes redondeados */
    padding: 10px; /* Ajuste del espaciado interno */
    cursor: pointer; /* Cambiar el cursor al pasar por encima */	
	font-optical-sizing: auto;
	font-weight: 300;
	font-style: normal;
    text-align: center;
    font-size: 60px; /* Tamaño de la fuente */
    width: 120px;
    height: 120px;

    transition-duration: 0.2s;
    transition-property: background-color, transform;
    transition-timing-function: ease-in-out;
}

button:hover {
    background-color: orange;
    transform: rotate(90deg);
}

button:active {
    transform: translateY(2px);
    transform: rotate(90deg);
}


form {
    margin: 64px 0 0 0;
}

label {
    display: block;
    font-size: 18px;
    font-weight: 600;
    margin: 32px 0 0 0;
}

span.explanation {
    display: none;
    font-size: 16px;
    font-weight: 400px;
    margin: 8px 0 0 0;
}

input {
    margin: 16px 0 0 0;
    border: none;
    border-bottom: 2px solid #111;
    font-size: 48px;
    font-weight: 400;
}

input:focus{
    outline: none;
}

input[type=submit] {
	position: absolute;
	left: 64px;
	bottom: 64px;
	background-color: black;
    color: white;
    border: none;
    border-radius: 60px;
    padding: 10px;
    cursor: pointer;
	font-optical-sizing: auto;
	font-weight: 300;
	font-style: normal;
    text-align: center;
    font-size: 60px;
    width: 120px;
    height: 120px;
    transition-duration: 0.2s;
    transition-property: background-color, transform;
    transition-timing-function: ease-in-out;
}

input[type=submit]:hover {
    background-color: orange;
    transform: rotate(90deg);
}